<div>

	<div class="btn-group">
		<button type="button" class="btn btn-primary" ng-repeat="(key, func) in config.GlobalActions" ng-bind="key" ng-click="func()"></button>
	</div>

	<table class="spa-data-grid">
		<thead>
			<tr>
				<th>
				</th>
				<th ng-repeat="c in config.Columns | filter: {Visible: true}">
					<span class="dg-sortable" ng-bind="c.Title" ng-click="Functions.SortColumn(c)"></span>
				</th>
				<th ng-repeat="(key, obj) in config.RowActions" ng-style="obj.style">
					<span ng-bind="key"></span>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in Contents.Rows">
				<td width="150px">
					<button type="button" class="btn btn-default" ng-if="!row.IsEditing" ng-click="Functions.Edit(row)">Edit</button>
					<div class="btn-group" ng-if="row.IsEditing">
						<button type="button" class="btn btn-default" ng-click="Functions.Save(row)">Save</button>
						<button type="button" class="btn btn-default" ng-click="Functions.CancelEdit(row)">Cancel</button>
					</div>
				</td>
				<td ng-repeat="c in config.Columns | filter: {Visible: true}" spa-dynamic template="c.Template" hash="{isEditing:row.IsEditing, row: row, column: c}" row="row" column="c">
				<td ng-repeat="(key, obj) in config.RowActions">
					<div class="btn-group" ng-if="!row.IsEditing">
						<button ng-repeat="btn in obj.actions" type="button" class="btn btn-primary" ng-bind="btn.Text" ng-click="btn.Click(row)"></button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>