@{
	this.Layout = "~/Views/SPA/_Layout.cshtml";
	this.ViewBag.Title = "Rent";
}

<h2>Index</h2>

<!--
	add function to get all users and store them in a central location
		must have an update

	add central location for all rents
		must have an update

-->
