
<div class="data-grid-container" ng-controller="data-table">
	<div class="header-buttons btn-group" ng-show="headerButtons.length > 0 ">
		<button type="button" class="btn" ng-repeat="btn in headerButtons" ng-class="btn.className || btn-default" ng-click="btn.click()">{{btn.text}}</button>
	</div>

	<table class="data-grid">
		<thead>
			<tr>
				<th ng-repeat="col in columns" ng-click="changeOrder(col.key)">
					{{col.text}}
				</th>
				<th ng-show="actionButtons.length > 0">Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in rows | orderBy: orderByFunction">
				<td ng-repeat="col in columns">
					<div ng-if="!row.isEditing">{{columnFormat(col, row)}}</div>
					<div ng-if="row.isEditing">
						<edit-control-type content="{row: row, col: col}"></edit-control-type>
					</div>
				</td>
				<td ng-show="actionButtons.length > 0">
					<div class="btn-group">
						<button type="button" class="btn" ng-repeat="btn in actionButtons | visibleButtonFilter: row" ng-click="btn.click(row)" ng-class="btn.className || btn-default">{{btn.text}}</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
