@import "bootstrap/bootstrap.less";

body
{
	font-size: 14px;
}

.spa-content
{
	padding: 40px;
}

.btn-action
{
	.button-variant(#ffffff, #002DC2, #040366)
}

.btn-navigation
{
	.button-variant(#ffffff, #1EB20A, #0F6603);
}

/*Data Grid*/

.dg-data-grid
{
	.dg-title
	{
		font-weight: bold;
	}

	.dg-header
	{
		margin: 10px 0 20px 0;

		.dg-title
		{
			font-size: 25px;
			margin-bottom: 10px;
		}

		.dg-summary-container
		{
			font-size: 20px;
			margin-bottom: 10px;
			padding-left: 10px;
		}
	}

	.dg-actions
	{
		margin: 10px 0;
		.clearfix();

		.dg-action-container
		{
			border: 1px solid #656565;
			border-radius: 4px;
			.make-sm-column(4);
			padding: 10px;

			.dg-title
			{
				font-size: 15px;
				font-weight: bold;
			}

			.dg-calculator
			{
				.dg-calc-row
				{
					display: table;

					textarea, span
					{
						display: table-cell;
						vertical-align: middle;
					}

					span
					{
						padding: 0 10px;
						font-size: 20px;
						font-weight: bold;
					}
				}

				textarea
				{
					resize: none;
				}
			}
		}
	}

	.dg-table
	{
		.table();
		.table-striped();
		.table-bordered();

		thead
		{
			tr
			{
				th
				{
					.dg-sortable
					{
						cursor: pointer;
					}
				}
			}
		}
	}
}

/*Modals*/

.spa-modal
{
	font-size: 20px;

	.spa-modal-content
	{
		padding: 10px;
	}

	.spa-modal-footer
	{
		padding: 5px;
		border-top: 1px solid #656565;
		background: #e2e2e2;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}
}

#spa-val-modal
{
	.spa-modal-content
	{
		display: table;
		width: 100%;
		padding: 0;
		margin-bottom: 20px;

		.spa-val-item
		{
			display: table-row;

			&:nth-child(even)
			{
				background: #e2e2e2;
			}

			span
			{
				display: table-cell;
				padding: 10px 5px;
			}

			.val-item-name
			{
				font-weight: bold;
				padding-right: 10px;
				padding-left: 10px;
			}

			.val-item-owed
			{
				padding-right: 10px;
				padding-left: 10px;
				text-align: right;

				&:before
				{
					content: '$';
					font-weight: bold;
				}
			}
		}
	}
}
