@import "bootstrap/bootstrap.less";

body
{
	font-size: 14px;
}

.spa-content
{
	padding: 40px;
}


/*Data Grid*/

.spa-data-grid
{
	.table();
	.table-striped();
	.table-bordered();

	thead
	{
		tr
		{
			th
			{
				.dg-sortable
				{
					cursor: pointer;
				}
			}
		}
	}
}
